<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>學生成績列表</title>
		<!-- 引入 PureCSS -->
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
	</head>
	<body style="padding: 15px">
		<div class="pure-form">
			<fieldset>
				<legend>學生成績列表</legend>
				<table class="pure-table pure-table-bordered">
					<thead>
						<tr>
							<th>序號</th>
							<th>姓名</th>
							<th>國文分數</th>
							<th>英文分數</th>
							<th>數學分數</th>
							<th>總分</th>
							<th>平均</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="score, state : ${scores}">
							<td th:text="${state.count}"></td>
							<td th:text="${score.name}"></td>
							<td th:text="${score.chineseScore}"></td>
							<td th:text="${score.englishScore}"></td>
							<td th:text="${score.mathScore}"></td>
							<td th:text="${score.totalScore}"></td>
							<!-- (分數, 最小整數位, 小數位數) -->
							<td th:text="${#numbers.formatDecimal(score.averageScore, 1, 1)}"></td>
						</tr>
					</tbody>
				</table>
				
			</fieldset>
		</div>
		
	</body>
</html>