<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sp="http://www.springframework.org/tags/form">
	<head>
		<meta charset="UTF-8">
		<!-- 引入 PureCSS -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
		<title>修改學生成績</title>
		<script>
			function uptMethodValue() {
				document.getElementById('_method').value = 'DELETE';
			}
			
			function checkValue() {
				// 檢查欄位資料是否都有撰寫 ...
				return true;
			}
		</script>
	</head>
	<body style="padding: 15px">
		<div th:text="${student_score}"></div>
		<form onsubmit="return checkValue();" class="pure-form" method="post" th:action="@{/student/{id}(id=${student_score.id})}" >
			<input type="hidden" id="_method" name="_method" value="PUT">
			<input type="hidden" id="id" name="id" th:value="${student_score.id}">
			姓名: <input type="text" id="name" name="name" th:value="${student_score.name}" required><p />
			國文: <input type="number" id="chineseScore" name="chineseScore" th:value="${student_score.chineseScore}" min="0" max="100" required><p />
			英文: <input type="number" id="englishScore" name="englishScore" th:value="${student_score.englishScore}" min="0" max="100" required><p />
			數學: <input type="number" id="mathScore" name="mathScore" th:value="${student_score.mathScore}" min="0" max="100" required><p />
			<button type="submit" class="pure-button pure-button-primary">修改</button>
			<button type="submit" onclick="uptMethodValue()" class="pure-button pure-button-primary">刪除</button>
		</form>
	</body>
</html>